h1,
h2,
h3,
h4,
h5,
a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.lines {
    background-image: linear-gradient(90deg, rgba(144, 145, 156, 0.212) 0.20%, #ffffff00 0.20%, #ffffff00 50%, rgba(144, 145, 156, 0.212) 50%, rgba(144, 145, 156, 0.212) 50.20%, #ffffff00 50.20%, #ffffff00 100%);
    background-size: 649px 650px;
}

.underline {
    text-decoration-line: underline;
}

.container {
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 920px) {
    .container {
        padding: 0 32px;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

::selection {
    background: #332B44;
    color: #fff;
}

button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 6px;

    a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 16.72px;
        line-height: 24px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

    @media only screen and (max-width: 768px) {
        a {
            font-size: 12px;
            line-height: 24px;
        }
    }

    img {
        max-width: 16px;
        height: auto;
    }
}

nav {
    width: 100%;
    margin: 0;
    position: absolute;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .main-menu {
        display: flex;
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            img {
                max-width: 68px;
            }
        }

        .nav-btn {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 15.84px;
            line-height: 24px;
            text-decoration: none;
            color: #111013;
            padding: 6px 12px;
            background: #FFFFFF;
            border-radius: 6px;
        }

        .menu-items {
            display: flex;
            flex-direction: row;
            gap: 50px;

            ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }

            li {
                list-style: none;

                a {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16.6px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {

        .main-menu {

            .menu-items {
                display: none;
            }
        }
    }
}

.menu-link-1::before {
    content: "01";
    display: flex;
    justify-content: flex-end;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
}

.menu-link-2::before {
    content: "02";
    display: flex;
    justify-content: flex-end;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
}

.menu-link-3::before {
    content: "03";
    display: flex;
    justify-content: flex-end;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
}

.menu-link-4::before {
    content: "04";
    display: flex;
    justify-content: flex-end;
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
}

.hero {
    background-image: url(main-bg.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container {
        height: 100vh;

        .hero-body {
            height: 100vh;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 16px;

            h2 {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 26px;
                color: #FFFFFF;
            }

            h1 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 105px;
                line-height: 92px;
                letter-spacing: -0.07em;
                color: #FFFFFF;
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    .hero {
        background-image: url(main-bg-mobile.png);

        .container {

            .hero-body {

                h2 {
                    font-size: 19px;
                    line-height: 22px;
                }

                h1 {
                    font-size: 41px;
                    line-height: 39px;
                }
            }

        }
    }
}

.services {
    width: 100vw;
    height: 100vh;

    .container {
        height: 100%;

        .services-body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .services-content {
                width: 50%;
            }

            .services-img {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                img {
                    width: 60%;
                }
            }
        }
    }
}

.l {
    animation: hue 5s ease-in-out forwards infinite;
    background-color: rgb(155, 0, 142);
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }

}

.mobile-menu {
    display: none;
}


@media only screen and (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}